@model Candidates
<form asp-action="HandleCandidateAction" method="post">
    <input type="hidden" name="candidateId" value="@Model.Id" />
    <div class="card shadow-lg border-0 mt-4">
        <div class="card-header bg-primary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase fw-bold">@Model.Name</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row mb-4">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-3 fw-semibold btn-sm text-uppercase">
                            <small>Back to Home</small>
                        </a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@Model.ImageUrl" class="img-fluid rounded shadow-lg border" alt="@Model.Name's Image" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="mb-3">
                            <strong>Name:</strong> <span class="text-muted">@Model.Name</span>
                        </div>
                        <div class="mb-3">
                            <strong>Address:</strong> <span class="text-muted">@Model.Address</span>
                        </div>
                        <div class="mb-3">
                            <strong>Course:</strong> <span class="text-muted">@Model.Course?.Name</span>
                        </div>
                        <div class="mb-3">
                            <strong>Class:</strong> <span class="text-muted">@Model.Class</span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" name="action" value="approve" class="btn btn-success w-100 fw-bold shadow-sm">
                                    Approve
                                </button>
                            </div>
                            <div class="col-6">
                                <button type="submit" name="action" value="deny" class="btn btn-danger w-100 fw-bold shadow-sm">
                                    Deny
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
