@* @model IEnumerable<Candidates>
<div class="row pb-3">
    @foreach (var candidates in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    @if (User.IsInRole("Admin"))
                    {
                    <div class="card border-0 p-3 shadow border-top border-5 rounded"> 
                        <img src=@candidates.ImageUrl class="card-img-top rounded" /> 
                        <div class="pl-1">
                            <p class="card-title h5 text-light opacity-85 text-uppercase text-center">@candidates.Name</p>
                            </div>
                        <div class="pl-1">
                            <p class="card-title h5 text-light opacity-85 text-uppercase text-center">@candidates.Class</p>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-candidateId="@candidates.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div> 
                        </div>
                    }
                    else
                    {
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src=@candidates.ImageUrl class="card-img-top rounded" />
                            <div class="pl-1">
                                <p class="card-title h5 text-light opacity-85 text-uppercase text-center">@candidates.Name</p>
                            </div>
                            <div class="pl-1">
                                <p class="card-title h5 text-light opacity-85 text-uppercase text-center">@candidates.Class</p>
                            </div>
                            <div class="pl-1">
                                <p class="card-title h5 text-light opacity-85 text-uppercase text-center
            @(candidates.Status == "Approved" ? "bg-success" : candidates.Status == "Denied" ? "bg-danger" : "bg-secondary") text-white p-2 rounded">
                                    @candidates.Status
                                </p>
                            </div>
                        </div>



                        
                    }
                </div>
            </div>
        </div>
    }
</div>
 *@